body {
	margin: 0;
	padding: 0;
}

:root {
	--background: #0a0a0a;
	--primary: #d4b8fc;
	--primary-accent: #151515;
	--secondary-accent: #222;
	font-family: Verdana, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 600;
	font-size: 16pt;

	color-scheme: dark;
	background-color: var(--background);
	color: var(--primary);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#app {
	margin: 0 auto;
	padding: 2rem;
	height: calc(100vh - 4rem);
	display: flex;
	flex-direction: column;
	gap: 0.25em;
}

.small {
	transform: scale(0.5);
}

.full-width {
	width: 100%;
}

.card {
	background: var(--primary-accent);
	color: var(--primary);
	border-color: transparent;
	border-radius: 0.3em;
}

input {
	font-size: 12pt;
}

.vert-spacer {
	margin: auto 0;
}

.hor-spacer {
	margin: 0 auto;
}

.banner {
	font-size: 1.5rem;
	width: calc(100% - 0.5rem);
	height: calc(1em + 1rem);
	background: var(--secondary-accent);
	padding: 0.5rem;
	border-radius: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: center;
	gap: 1rem;
}

.banner>* {
	font-size: 1.5rem;
}

.pad-btn {
	padding-left: 0.25em;
	padding-right: 0.25em;
}

button:focus {
	border: 2px solid var(--primary);
	border-radius: 0.2rem;
}

.stitch {
	position: absolute;
}

.fraction {
	display: flex;
	gap: 0.25em;
}

.fraction>input {
	flex: 1 1 0;
	font-weight: 600;
	font-size: 1.5rem;
	text-align: center;
	display: block;
	width: auto;
}

.fraction>div {
	flex: 1 1 0;
}
